<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Usage - Charts Map</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body style="text-align: center">
<h2>General</h2>
{% for chart_url, chart_name in general_charts %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="btn btn-default" href="{% url chart_url %}" role="button" style="width: 100%">{{chart_name}}</a>
    </div>
    <div class="col-md-4"></div>
</div>
{% endfor %}
<h2>Historical</h2>
{% for chart_url, chart_name in historical_charts %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a class="btn btn-default" href="{% url chart_url %}" role="button" style="width: 100%">{{chart_name}}</a>
    </div>
    <div class="col-md-4"></div>
</div>
{% endfor %}
</body>
</html>